@import url("https://fonts.bunny.net/css?family=josefin-sans:600&text=Kwiz");
@import url("https://fonts.bunny.net/css?family=DM+Serif+Display:400&text=GetStarted");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
}

.scrollbar::-webkit-scrollbar {
  width: 0px;
}

.leaderboard-table tr td:first-child,
.leaderboard-table tr th:first-child {
  @apply border-r-2 border-kiwi-100;
}

.leaderboard-table tbody tr td {
  @apply px-4;
}
